<form [formGroup]="formCar">
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field>
        <input required formControlName="placa" matInput placeholder="Placa"/>
        <mat-error>This Field is mandatory</mat-error>
    </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input required formControlName="marca" matInput placeholder="Marca"/>
        <mat-error>This Field is mandatory</mat-error>
    </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input required formControlName="modelo" matInput placeholder="Modelo"/>
        <mat-error>This Field is mandatory</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input required formControlName="renavam" matInput placeholder="Renavam"/>
        <mat-error>This Field is mandatory</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input required formControlName="chassi" matInput placeholder="Chassi"/>
        <mat-error>This Field is mandatory</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input required formControlName="ano" type="text" matInput placeholder="Ano"/>
        <mat-error>This Field is mandatory</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <button (click)="submit()" [disabled]="formCar.invalid" mat-raised-button color="primary">Salvar</button>
    </mat-grid-tile>

  </mat-grid-list>

</form>
