<div class="list_cars">
  <table mat-table [dataSource]="cars" class="mat-elevation-z8 table_cars">
    <ng-container matColumnDef="placa">
      <td mat-header-cell *matHeaderCellDef>Placa</td>
      <td mat-cell *matCellDef="let element">{{element.placa}}</td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <td mat-header-cell *matHeaderCellDef>Marca</td>
      <td mat-cell *matCellDef="let element">{{element.marca}}</td>
    </ng-container>

    <ng-container matColumnDef="modelo">
      <td mat-header-cell *matHeaderCellDef>Modelo</td>
      <td mat-cell *matCellDef="let element">{{element.modelo}}</td>
    </ng-container>


    <ng-container matColumnDef="renavam">
      <td mat-header-cell *matHeaderCellDef>Renavam</td>
      <td mat-cell *matCellDef="let element">{{element.renavam}}</td>
    </ng-container>


    <ng-container matColumnDef="chassi">
      <td mat-header-cell *matHeaderCellDef>Chassi</td>
      <td mat-cell *matCellDef="let element">{{element.chassi}}</td>
    </ng-container>

    <ng-container matColumnDef="ano">
      <td mat-header-cell *matHeaderCellDef>Ano</td>
      <td mat-cell *matCellDef="let element">{{element.ano}}</td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <td mat-header-cell *matHeaderCellDef>Criado Em</td>
      <td mat-cell *matCellDef="let element">{{element.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
    </ng-container>

    <ng-container matColumnDef="update_at">
      <td mat-header-cell *matHeaderCellDef>Atualizado Em</td>
      <td mat-cell *matCellDef="let element">{{element.updatedAt | date:'dd/MM/yyyy HH:mm'}}</td>
    </ng-container>


    <ng-container matColumnDef="edit">
      <td mat-header-cell *matHeaderCellDef></td>
      <td mat-cell *matCellDef="let element" (click)="edit(element.id)" class="clickable">
        <mat-icon aria-hidden="false" aria-label="edit icon">create</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <td mat-header-cell *matHeaderCellDef></td>
      <td mat-cell *matCellDef="let element" (click)="delete(element.id)" class="clickable">
        <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
  </table>
</div>
