
  .list_cars
      display: flex
      justify-content: center
      align-items: center
      margin-top: 10rem
      .table_cars
        width: 80%
        padding:0.1rem

  .clickable:hover
    cursor: pointer
